
.schedule-checkbox:checked + label {
    background-color: #4ade80; 
    color: white;
    border-color: #4ade80;
}

.schedule-checkbox:checked + label::after {
    content: '✓';
    display: block;
    text-align: center;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}